<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>LIST APP</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/send_url.js"></script>
  </head>
  <body>
    <header>
      <a class="header-logo">LIST APP</a>
    </header>
    <div class="container">
      <div class="container-header">
        <h1>Buying List</h1>
      </div>
      <div class="index-table-wrapper">
        <div class="table-head">
          <span class="id-column">ID</span>
          <span>List</span>
        </div>
        <% const item = {id: 4, name: 'tomato'} %>
        <ul class="table-body">
          <li>
            <span class="id-column">1</span>
            <span class="name-column">Potato</span>
          </li>
          <li>
            <span class="id-column">2</span>
            <span class="name-column">Carrot</span>
          </li>
          <li>
            <span class="id-column">3</span>
            <span class="name-column">Onion</span>
          </li>
          <li>
            <span class="id-column">
              <!-- show property values item's id  -->
              <%= item.id %>
            </span>
            <span class="name-column">
              <!-- show property values item's name -->
              <%= item.name %>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
